.table{
  margin-left: 25px ;
  margin-right: 25px;
}

.full-width-table {
  width: 70%;
  margin: 20x;
}
.mat-elevation-z8{
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
}

.mat-table{
  width: 100%;
}

.tablcontainer{
  background-color: black;
}
#tablegrid{
  --ion-grid-width-md: 7;
}

th{
  background-color: #2b5666;
  color: white;
  text-align: center;
  font-size: 18px;
  /*border-radius: 15px 15px 15px 15px;*/
  /*margin: 5px;*/
}
